# Build output
dist/
out/
build/

# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*

# Runtime data
.DS_Store
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# Electron-builder
release/ 